<!DOCTYPE html>
<html lang="en" class="{{ settings.theme }} {{ settings.accent }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Users &bull; Project Visualizer</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/common/icon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/users.css') }}">
</head>

<body class="{{ settings.theme }} {{ settings.accent }}">
    {% include 'components/msg.html' %}
    {% include 'components/notifications.html' %}
    {% include 'utils/project.html' %}
    {% include 'utils/team.html' %}

    <section class="app-content">
        {% include 'components/sidebar.html' %}

        <section class="app-body">
            {% include 'components/header.html' %}

            <main class="main column gap-20">
                <div class="head row h-sb">
                    <h2 class="h2">All users</h2>

                    <div class="options row gap-20">
                        <a href="/users/" class="link">
                            <img src="{{ url_for('static', filename='assets/icons/'+settings.theme+'/refresh.png') }}" alt="Refresh" class="icon">
                        </a>

                        <form action="/users/" method="get" class="form row gap-10">
                            <input required type="search" name="userid" placeholder="Search for users..." class="input"
                                id="search">
                            <button type="submit" class="btn">
                                <img src="{{ url_for('static', filename='assets/icons/'+settings.theme+'/search.png') }}" alt="Search"
                                    class="img">
                            </button>
                        </form>
                    </div>
                </div>

                <div class="body column gap-10">
                    {% for user in data.users %}
                    <div class="user row h-sb">
                        <div class="content row gap-10">
                            <div class="badge"></div>
                            <img src="{{ user.pic }}" alt="pic" class="icon pic">
                            <h3 class="h3">{{ user.name }}</h3>
                        </div>

                        <a href="/profile/?userid={{ user.id }}" class="link btn">
                            <img src="{{ url_for('static', filename='assets/icons/'+settings.theme+'/open.png') }}" alt="Open profile"
                                class="icon">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </main>
        </section>
    </section>

    <script src="{{ url_for('static', filename='js/pages/users.js') }}"></script>
</body>

</html>