.alerts {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 99;
}

.alerts .flash {
    padding: 10px;
    border-radius: 5px;
    color: var(--text);
    opacity: 0;
    transform: translateX(-100px);
    color: #212122;
}

.flash.success {background-color: var(--accent-1);}
.flash.warning {background-color: var(--accent-2);}
.flash.error {background-color: var(--accent-3);}