<link rel="stylesheet" href="{{ url_for('static', filename='css/utils/popup.css') }}">

<section class="popup-container" id="objective-popup">
    <section class="popup-content column gap-20">
        <div class="head row gap-10">
            <button class="btn" id="back">
                <img src="{{ url_for('static', filename='assets/icons/'+settings.theme+'/back.png') }}" alt="Back" class="icon">
            </button>

            <h2 class="h2">New objective</h2>
        </div>

        <form action="/projects/{{ data.project.id }}/objectives/new" method="post" class="form column gap-10" enctype="multipart/form-data">
            <textarea autofocus name="obj" placeholder="Objective 1
Objective 2
Objective 3" class="input"></textarea>

            <div class="fileinput row gap-10 input">
                <div class="icon-content">
                    <img src="{{ url_for('static', filename='assets/icons/common/upload.png') }}" alt="upload" class="icon">
                </div>
                <input type="file" name="obj-file" accept=".txt">
            </div>
            
            <button type="submit" class="icon-btn">
                <img src="{{ url_for('static', filename='assets/icons/'+settings.theme+'/add.png') }}" alt="Add" class="icon">
                <span class="text">Add objective(s)</span>
            </button>
        </form>
    </section>
</section>