<link rel="stylesheet" href="{{ url_for('static', filename='css/components/notifications.css') }}">

<section class="notifications column gap-20">
    <div class="head row h-sb">
        <h3 class="h3">Notifications</h3>

        <button class="btn" id="notification-toggle">
            <img src="{{ url_for('static', filename='assets/icons/'+settings.theme+'/expand.png') }}"
                alt="Toggle section" class="icon">
        </button>
    </div>

    <div class="body column gap-10">
        {% if notifications|length == 0 %}
        <span class="text">No new notifications.</span>
        {% else %}
        {% for notification in notifications %}
        <div class="notification row h-sb gap-10 {{ notification.badge }}" data-notification-id="{{ notification.id }}">
            <div class="left row gap-10">
                <div class="badge"></div>
                <div class="text column">
                    <span class="mini">{{ notification.title }}</span>
                    <span class="text">{{ notification.message }}</span>
                </div>
            </div>

            {% if notification.attachment %}
            <a href="{{ notification.attachment }}" class="link btn">
                <img src="{{ url_for('static', filename='assets/icons/light/open.png') }}" alt="View" class="icon">
            </a>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="{{ url_for('static', filename='js/components/notifications.js') }}"></script>