body {
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}

.icon-content {
    background-color: var(--surface);
    padding: 10px;
    border-radius: 50px;
}

.main {padding: 20px;}
.main .overview * {text-align: center;}

.main .update {
    background-color: var(--popup);
    box-shadow: 0 2px 10px -5px var(--border);
    padding: 20px;
    border-radius: 10px;
}