.popup-container #download-icon {
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
    background-color: var(--surface);
    margin: 0 auto;
}

.popup-container .download-preview {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--surface);
    width: fit-content;
    text-align: left;
}

#download-btn {
    background-color: var(--sub-text);
    cursor: not-allowed;
}